[Unit]
Description=Fiscal Registrar Web Service
After=network.target
After=qkkmserver.target

[Service]
Type=simple
PIDFile=/var/run/frws/service.pid
WorkingDirectory=/var/lib/frws
User=pi
Group=pi
ExecStart=/usr/bin/java -Dspring.config.location=file:///etc/frws/application.yml -jar /var/lib/frws/frws.jar
TimeoutSec=300

[Install]
WantedBy=multi-user.target